* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: antiquewhite;
}


h1{
text-align: center;
}

#keyboard{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid black ;
    height: 50%;
    max-width: 30%;
}

.letter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.word-blanksContainer{
    position: fixed;
    bottom:15%;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 10%;
}

.word-blank{
    border-bottom: 2px solid black;
    margin: 0 10px;
    width: 20px;
    height: 40px;
}