* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: antiquewhite;
}


h1{
text-align: center;
}

#keyboard{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid black ;
    height: 50%;
    max-width: 30%;
}

.letter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.word-blanksContainer{
    position: fixed;
    bottom:15%;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 10%;
}

.word-blank{
    border-bottom: 2px solid black;
    margin: 0 10px;
    width: 20px;
    height: 40px;
}

.remaining-guesses{
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 30px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(26, 90, 90)
  }

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;